* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.nav,
.hero,
footer {
  background-color: #1F2937;
  display: flex;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.hero {
  justify-content: space-evenly;
  align-items: center;
  padding: 120px 60px;
}
.left-hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-basis: 300px;
}
.hero-image {
  display: flex;
  flex-basis: 450px;
}
.hero-image img {
  border-radius: 16px;
  max-width: 400px;
}
.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}
.hero-description,
a {
  color: #E5E7EB;
  font-size: 18px;
}
a {
  text-decoration: none;
}
li {color: #F9FAF8;
  list-style-type: none;
}
.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bolder;
}
button {
  background-color: #3882F6;
}
button {
  padding: 8px;
  color: #F9FAF8;
  align-self: flex-start;
  font-size: large;
  font-weight: bolder;
  width: 120px;
  border-radius: 8px;
  border: #3882F6 2px solid;
}
.card-section {
  margin-top: 32px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 250px;
  text-align: center;
}
.card img {
  border: 2px solid #3882F6;
  border-radius: 16px;
  max-width: 200px;
}
.card-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  align-self: center;
}
.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  padding: 144px 288px;
  display: flex;
  flex-direction: column;
}
.main-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  text-align: start;
}
.signature {
  font-weight: bolder;
  text-align: end;
  font-size: x-large;
  padding-right: 32px;
}
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-card {
  background-color: #3882F6;
  display: flex;
  flex-basis: 1000px;
  gap: 32px;
  margin: 81px 81px;
  padding: 48px 136px;
  border-radius: 8px;
  color: #F9FAF8;
}
.action-title {
  font-size: x-large;
  font-weight: bolder;
}
.action-button {
  border: 1px solid #FFF;
  margin-left: auto;
  align-self: flex-end;
}
footer {
  display: flex;
  padding: 32px;
  color: #F9FAF8;
  justify-content: center;
}